<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<!-- .NET 4.7.2 개선사항 - 선택한 셀의 헤더가 클릭된 상태가 되는 기능 해제-->
	<runtime>
		<AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=true"/>
	</runtime>
</configuration>
